html, body { height:100%; margin:0; }

@import './mixin/_fonts';


.clearfix:after {
    clear: both;
    content: '';
    display: block;
}
.main-left {
  height: 100vh;
  width: 300px;
  float: left;

  &__user {
    height: 15%;
    width: 100%;
    background-color: #090c10;
    position: relative;
    &-content {
      height: 50px;
      width: 100%;
      line-height: 50px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      &-name {
        @include color();
        font-size: 20px;
        font-weight: bold;
        margin: 0 20px;
        position: relative;
        display: inline-block;
      }
      &-newgroup {
        @include color();
        margin-left: 140px;
        position: relative;
        display: inline-block;
        .fa {
          @include color();
        }
      }
      &-edit {
        @include color();
        position: relative;
        display: inline-block;
        .fa {
          @include color();
        }
      }
    }
  }
  &__group {
    height: 85%;
    width: 100%;
    background-color: #253141;
    &-lists {
      height: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      &-list{
        box-sizing: border-box;
        padding: 20px 0 40px;
        &-name {
          @include color();
          font-size: 15px;
        }
        &-message {
          @include color();
          font-size: 11px;
          margin-top: 5px;
        }
      }
    }
  }
}

.main{
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;
  .main__header {
    height: 15%;
    border: 1px solid #eee;
    &-group {
      margin: 0 40px;
      &-name{
        color: #333;
        font-size: 20px;
        margin: 35px 0 15px;
        float: left;
      }
      &-edit{
        color: #38AEF0;
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        border: 1px solid #38AEF0;
        float: right;
      }
    }
    &-member {
      color: #999;
      font-size: 12px;
      margin: 0 40px;
    }
  }
  &__body{
    height: calc( 100vh - 15% - 90px );
    &-message {
      padding: 26px 40px 0;
      height: calc(100vh - 100px - 90px);
      overflow-y: scroll;
      &-list {
        margin-bottom: 40px;
        &-upper{
          display: flex;
          &-name {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &-time {
            color: #999;
            font-size: 12px;
            padding-left: 10px;
            float: left;
          }
        }
        &-lower{
          padding: 10px 0px;
          &-body {
            color: #434A54;
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  &__footer{
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
      .text{
        border: none;
        box-sizing: border-box;
        float: left;
        height: 50px;
        padding: 0 10px;
        width: calc(100% - 150px);
      }

      &-mask {
          background-color: #fff;
          float: left;
          height: 50px;
          padding-right: 10px;
          .fa-picture-o {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 20px;
            line-height: 50px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
      }
      .button {
        background-color: #38AEF0;
        border: none;
        @include color();
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 0px;
        padding: 0 30px;
      }
}
}
.text_field {
    border: none;
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding: 0 10px;
    width: calc(100% - 150px);
}

.main__footer-mask-image{
    font-size: 0px;
    line-height: 50px;
}
.main__footer-mask-hidden {
    display: none;
}



