.main-left__group-lists
  - groups.each do |group|
    = link_to group_messages_path(group.id) do
      .main-left__group-lists-list
        .main-left__group-lists-list-name
          = group.name
        .main-left__group-lists-list-message
          = last_message(group)
